extends layout
block content
    include nav.pug
    div(class='container d-flex')
      div(class='container flex-col')
        h2= "Owned Games"
        form(id=`addGameForm` action=`/database/addGame/${gameList._id}` method="get")
          div(class='form-group')
            div(class="form-check")
              label(class="col-form-label" for="position") Position in Gamelist
              input(class="form-control w-25" type="number" name="position" id="position" value=(listGameData.length + 1) min=1 max=(listGameData.length + 1) required)
          div(class='form-group' style="max-height: 55vh; overflow: auto;")
            each game, ind in ownedGameData
              div(class="form-check")
                input(class="form-check-input" type="radio" name="ownedGame" id=`ownedGame${ind}` value=`${game.appid || game.appId}` required)
                label(class="form-check-label" for=`ownedGame${ind}`) #{game.name}
      div(class='container flex-col align-self-center w-50')
        button(type="submit" class="btn btn-primary" id=`addGameSubmit` form=`addGameForm`)
          i(class="fa fa-long-arrow-right")
      div(class='container')
        h2= `Games in ${gameList.title}`
        ul(class="list-group" style="list-style: decimal inside; max-height: 65vh; overflow: auto;")
            each game, ind in listGameData
                li(class='d-flex flex-row')
                  p(class="list-group-item w-100 mb-0" style="display: list-item") #{game.name}
                  a(class="btn btn-danger float-right m-2" href=gameList.removeGameUrl(game.appid || game.appId))
                    i(class="fa fa-trash")
