extends layout

block content
  include nav.pug
  .container
    h1 #{listName}  
    h3 Creator: #{creator}
    p Description : #{description}
    ul(class='list-group')
      each game in info
        .list-group-item
          h1(class="float-left") #{game.name}
          each genre in game.genre
            span(class="badge badge-primary badge-pill float-right ml-3") #{genre}
          h1 &nbsp
          img(src=game.image)
          p #{game.short_description}
          if game.isFree || game.price === undefined
            p Free Game
          else
            if game.discount === 0
              p #{game.price}
            else
              p #{game.price} - On Sale : #{game.discount}%
          p #{game.creatorPlaytime} hours played by author.
      else
        .list-group-item 
          p No Game Added

  //- a(href="/userPage/") Back to profile