extends layout

block content
    h1= "TEST: Create a Game List"

    form(action= '/createform', method='POST')
        input(name='steamId', value=steamId, type='hidden')
        label(for='title') Title of Game List:
        input#title(type='text', name='title')
        br
        label(for='description') Description of Game List:
        input#description(type='textarea', name='description')
        br

        fieldset
            each game in reduced_games
                img(src=game.img)
                if game.playtime >  0
                    label #{game.name} - playtime : #{game.playtime} hours
                else
                    label #{game.name} - have not played yet
                input(type='checkbox' id=game.appid name='gameIds' value=game.appid)
                br
            else
                p = 'empty'     
        input(type='submit') 


    
        
