extends layout

block content
    h1= "TEST: Create a Game List"

    form(method='POST')
        label(for='title') Title of Game List:
        input#title(type='text', name='title')
        br
        label(for='description') Description of Game List:
        input#description(type='textarea', name='description')
        br
        label(for='creatorUsername') Creator username:
        input#creatorUsername(type='text', name='creatorUsername')
        br

        fieldset
            each game in reduced_games
                img(src=game.img)
                label #{game.name}
                input(type='checkbox' id=game.appid name='gameIds' value=game.appid)
            else
                p = 'empty'     
        input(type='submit') 


    
        
