extends layout

block content
    h1 Game List Details
    ul
        li Title: #{gameList.title}
        li Description: #{gameList.description}
        li Creator: #{gameList.creatorUsername}
        li Created on: #{gameList.printDateCreated}
        li Status: #{gameList.printStatus}

    h3 Games
    each game in gameData
        ul
            li Title: #{game.name}
            li Total playtime: #{game.playtimeForever}
