extends layout

block content
    h1 "TEST: User List Index"

    ul
    each user in users
        li
            | id:
            p #{user.steamId}
            p #{user._id}
            p #{user.username}
            p #{user}
            a(href=`/userPage/${user._id}`) UserPage