extends layout
block content
    include nav.pug
    div(class='container')
        section(id='profile-header')           
            div(class='profile-summary')
                img(class='profile-avatar', src=`${user_avatar}`, style="border-radius: 50px;", alt=user.username, width="110", height="110")
                h1(class='profile-name') #{user.username}
                div(class='profile-stats')
                    ul(class='list-group list-group-horizontal', style='float: right;')
                        
                        li(class='list-group-item') Lists created: 
                        li(class='list-group-item') Lists completed:
                        li(class='list-group-item')
                            a(href=`${user._id}/followers`)= "Followers:" 
                            a= " " + user.followers.length
                        li(class='list-group-item')
                            a(href=`${user._id}/following`)= "Following:"
                            a= " " + user.following.length
        h2= "Backlogs"
        ul(class='ulRedirect')
            each gameList in gameLists
                li(class='liRedirect')
                    a(href=gameList.gameDetailsUrl) 
                        <h3> #{gameList.title} </h3>
                        each icon in gameList.icons
                            img(class='icon_img' src=icon)
        if isLoggedInUserPage
            a(href='/glists/createform' id='createBacklogLink') Create Backlog List

