extends layout

block content
    h1= user.username

    h2= "Backlogs"
    ul(class='ulRedirect')
        each gameList in gameLists
            li(class='liRedirect')
                a(href=gameList.gameDetailsUrl) <h3> #{gameList.title} </h3>
                    each icon in gameList.icons
                        img(class='icon_img' src=icon)
    if isLoggedInUserPage
        a(href='/glists/createform' id='createBacklogLink') Create Backlog List

